In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('nba_games.csv',index_col = 0)

In [17]:
df.shape

(17772, 150)

In [20]:
df.columns

Index(['mp', 'mp.1', 'fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta',
       ...
       'tov%_max_opp', 'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp',
       'team_opp', 'total_opp', 'home_opp', 'season', 'date', 'won'],
      dtype='object', length=150)

In [26]:
df.dtypes

mp           float64
mp.1         float64
fg           float64
fga          float64
fg%          float64
              ...
total_opp      int64
home_opp       int64
season         int64
date          object
won             bool
Length: 150, dtype: object

In [30]:
dict(df.isnull().sum())

{'mp': 0,
 'mp.1': 0,
 'fg': 0,
 'fga': 0,
 'fg%': 0,
 '3p': 0,
 '3pa': 0,
 '3p%': 0,
 'ft': 0,
 'fta': 0,
 'ft%': 0,
 'orb': 0,
 'drb': 0,
 'trb': 0,
 'ast': 0,
 'stl': 0,
 'blk': 0,
 'tov': 0,
 'pf': 0,
 'pts': 0,
 '+/-': 17772,
 'ts%': 0,
 'efg%': 0,
 '3par': 0,
 'ftr': 0,
 'orb%': 0,
 'drb%': 0,
 'trb%': 0,
 'ast%': 0,
 'stl%': 0,
 'blk%': 0,
 'tov%': 0,
 'usg%': 0,
 'ortg': 0,
 'drtg': 0,
 'mp_max': 17772,
 'mp_max.1': 17772,
 'fg_max': 0,
 'fga_max': 0,
 'fg%_max': 0,
 '3p_max': 0,
 '3pa_max': 0,
 '3p%_max': 0,
 'ft_max': 0,
 'fta_max': 0,
 'ft%_max': 0,
 'orb_max': 0,
 'drb_max': 0,
 'trb_max': 0,
 'ast_max': 0,
 'stl_max': 0,
 'blk_max': 0,
 'tov_max': 0,
 'pf_max': 0,
 'pts_max': 0,
 '+/-_max': 0,
 'ts%_max': 0,
 'efg%_max': 0,
 '3par_max': 0,
 'ftr_max': 0,
 'orb%_max': 0,
 'drb%_max': 0,
 'trb%_max': 0,
 'ast%_max': 0,
 'stl%_max': 0,
 'blk%_max': 0,
 'tov%_max': 0,
 'usg%_max': 0,
 'ortg_max': 0,
 'drtg_max': 0,
 'team': 0,
 'total': 0,
 'home': 0,
 'index_opp': 0,
 'mp_opp': 0,
 'mp_opp.1': 0,
 'fg_opp': 0,
 'fga_opp': 0,
 'fg%_opp': 0,
 '3p_opp': 0,
 '3pa_opp': 0,
 '3p%_opp': 0,
 'ft_opp': 0,
 'fta_opp': 0,
 'ft%_opp': 0,
 'orb_opp': 0,
 'drb_opp': 0,
 'trb_opp': 0,
 'ast_opp': 0,
 'stl_opp': 0,
 'blk_opp': 0,
 'tov_opp': 0,
 'pf_opp': 0,
 'pts_opp': 0,
 '+/-_opp': 17772,
 'ts%_opp': 0,
 'efg%_opp': 0,
 '3par_opp': 0,
 'ftr_opp': 0,
 'orb%_opp': 0,
 'drb%_opp': 0,
 'trb%_opp': 0,
 'ast%_opp': 0,
 'stl%_opp': 0,
 'blk%_opp': 0,
 'tov%_opp': 0,
 'usg%_opp': 0,
 'ortg_opp': 0,
 'drtg_opp': 0,
 'mp_max_opp': 17772,
 'mp_max_opp.1': 17772,
 'fg_max_opp': 0,
 'fga_max_opp': 0,
 'fg%_max_opp': 0,
 '3p_max_opp': 0,
 '3pa_max_opp': 0,
 '3p%_max_opp': 0,
 'ft_max_opp': 0,
 'fta_max_opp': 0,
 'ft%_max_opp': 0,
 'orb_max_opp': 0,
 'drb_max_opp': 0,
 'trb_max_opp': 0,
 'ast_max_opp': 0,
 'stl_max_opp': 0,
 'blk_max_opp': 0,
 'tov_max_opp': 0,
 'pf_max_opp': 0,
 'pts_max_opp': 0,
 '+/-_max_opp': 0,
 'ts%_max_opp': 0,
 'efg%_max_opp': 0,
 '3par_max_opp': 0,
 'ftr_max_opp': 0,
 'orb%_max_opp': 0,
 'drb%_max_opp': 0,
 'trb%_max_opp': 0,
 'ast%_max_opp': 0,
 'stl%_max_opp': 0,
 'blk%_max_opp': 0,
 'tov%_max_opp': 0,
 'usg%_max_opp': 0,
 'ortg_max_opp': 0,
 'drtg_max_opp': 0,
 'team_opp': 0,
 'total_opp': 0,
 'home_opp': 0,
 'season': 0,
 'date': 0,
 'won': 0}

In [12]:
df.head()

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
1,240.0,240.0,36.0,100.0,0.360,7.0,31.0,0.226,16.0,19.0,...,50.0,32.6,152.0,111.0,ATL,98,0,2016,2015-12-09,False
2,240.0,240.0,37.0,85.0,0.435,8.0,19.0,0.421,17.0,23.0,...,20.0,30.9,148.0,116.0,SAS,107,1,2018,2017-10-18,False
3,240.0,240.0,41.0,89.0,0.461,8.0,21.0,0.381,17.0,19.0,...,28.6,30.9,138.0,118.0,MIN,99,0,2018,2017-10-18,True
4,240.0,240.0,27.0,86.0,0.314,6.0,26.0,0.231,15.0,20.0,...,16.8,30.9,157.0,90.0,MEM,92,1,2021,2021-04-30,False

In [13]:
df.info

<bound method DataFrame.info of           mp   mp.1    fg    fga    fg%    3p   3pa    3p%    ft   fta  ...  \
0      240.0  240.0  39.0   81.0  0.481   6.0  20.0  0.300  14.0  18.0  ...
1      240.0  240.0  36.0  100.0  0.360   7.0  31.0  0.226  16.0  19.0  ...
2      240.0  240.0  37.0   85.0  0.435   8.0  19.0  0.421  17.0  23.0  ...
3      240.0  240.0  41.0   89.0  0.461   8.0  21.0  0.381  17.0  19.0  ...
4      240.0  240.0  27.0   86.0  0.314   6.0  26.0  0.231  15.0  20.0  ...
...      ...    ...   ...    ...    ...   ...   ...    ...   ...   ...  ...
17767  240.0  240.0  35.0   81.0  0.432  11.0  26.0  0.423  27.0  36.0  ...
17768  240.0  240.0  37.0   74.0  0.500  13.0  25.0  0.520  26.0  37.0  ...
17769  240.0  240.0  42.0   89.0  0.472  14.0  33.0  0.424  10.0  20.0  ...
17770  240.0  240.0  41.0   85.0  0.482   9.0  26.0  0.346  26.0  30.0  ...
17771  240.0  240.0  33.0   85.0  0.388  12.0  44.0  0.273  28.0  34.0  ...

       tov%_max_opp  usg%_max_opp  ortg_max_opp  drtg_max_opp  team_opp  \
0              22.8          29.0         178.0         111.0       DAL
1              50.0          32.6         152.0         111.0       ATL
2              20.0          30.9         148.0         116.0       SAS
3              28.6          30.9         138.0         118.0       MIN
4              16.8          30.9         157.0          90.0       MEM
...             ...           ...           ...           ...       ...
17767          34.2          33.7         160.0         118.0       OKC
17768          25.0          30.0         139.0         129.0       ORL
17769          25.6          29.9         175.0         126.0       LAC
17770          27.7          27.1         150.0         126.0       MIA
17771          51.5          36.2         141.0         114.0       BOS

       total_opp  home_opp  season        date    won
0             95         1    2016  2015-12-09   True
1             98         0    2016  2015-12-09  False
2            107         1    2018  2017-10-18  False
3             99         0    2018  2017-10-18   True
4             92         1    2021  2021-04-30  False
...          ...       ...     ...         ...    ...
17767         92         0    2019  2018-10-19   True
17768        108         1    2017  2016-12-14   True
17769        113         0    2017  2016-12-14  False
17770        106         1    2020  2020-09-19   True
17771        117         0    2020  2020-09-19  False

[17772 rows x 150 columns]>

In [31]:
df = df.sort_values("date")

In [33]:
df = df.reset_index(drop = True)

In [34]:
del df["mp.1"]
del df["mp_opp.1"]
del df["index_opp"]

In [36]:
def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team" , group_keys = False).apply(add_target)

In [37]:
df[df["team"] == "WAS"]

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
11,240.0,33.0,84.0,0.393,7.0,28.0,0.250,15.0,25.0,0.600,...,25.2,134.0,98.0,ORL,87,1,2016,2015-10-28,True,True
63,240.0,35.0,68.0,0.515,12.0,21.0,0.571,36.0,44.0,0.818,...,32.4,138.0,122.0,MIL,113,1,2016,2015-10-30,True,False
69,240.0,38.0,90.0,0.422,6.0,22.0,0.273,28.0,33.0,0.848,...,28.7,153.0,108.0,NYK,117,0,2016,2015-10-31,False,True
124,240.0,42.0,87.0,0.483,8.0,23.0,0.348,10.0,14.0,0.714,...,30.0,160.0,109.0,SAS,99,0,2016,2015-11-04,True,False
161,240.0,36.0,88.0,0.409,8.0,25.0,0.320,18.0,23.0,0.783,...,41.6,146.0,103.0,BOS,118,1,2016,2015-11-06,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17471,240.0,38.0,82.0,0.463,8.0,21.0,0.381,18.0,20.0,0.900,...,34.4,245.0,116.0,BOS,144,1,2022,2022-04-03,False,True
17483,240.0,56.0,101.0,0.554,13.0,30.0,0.433,7.0,14.0,0.500,...,32.8,168.0,132.0,MIN,114,1,2022,2022-04-05,True,False
17510,240.0,42.0,86.0,0.488,10.0,35.0,0.286,9.0,11.0,0.818,...,60.2,159.0,114.0,ATL,118,1,2022,2022-04-06,False,False
17538,240.0,35.0,69.0,0.507,9.0,28.0,0.321,13.0,17.0,0.765,...,35.5,135.0,104.0,NYK,114,0,2022,2022-04-08,False,False
17558,240.0,42.0,94.0,0.447,8.0,23.0,0.348,16.0,26.0,0.615,...,37.3,161.0,118.0,CHO,124,1,2022,2022-04-10,False,NaN

In [39]:
df["target"][pd.isnull(df["target"])] = 2

C:\Users\lenovo\AppData\Local\Temp\ipykernel_22180\1618397414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [40]:
df["target"] = df["target"].astype(int, errors="ignore")

In [41]:
df

,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,240.0,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
1,240.0,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
2,240.0,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
3,240.0,41.0,96.0,0.427,9.0,30.0,0.300,20.0,22.0,0.909,...,38.9,201.0,120.0,NOP,95,0,2016,2015-10-27,True,1
4,240.0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17767,240.0,34.0,85.0,0.400,15.0,38.0,0.395,14.0,19.0,0.737,...,36.3,133.0,112.0,GSW,107,0,2022,2022-06-10,False,0
17768,240.0,41.0,88.0,0.466,9.0,40.0,0.225,13.0,15.0,0.867,...,94.4,300.0,112.0,BOS,94,0,2022,2022-06-13,True,1
17769,240.0,31.0,75.0,0.413,11.0,32.0,0.344,21.0,31.0,0.677,...,36.2,222.0,107.0,GSW,104,1,2022,2022-06-13,False,0
17770,240.0,34.0,80.0,0.425,11.0,28.0,0.393,11.0,12.0,0.917,...,31.5,186.0,111.0,GSW,103,0,2022,2022-06-16,False,2
17771,240.0,38.0,92.0,0.413,19.0,46.0,0.413,8.0,8.0,1.000,...,42.6,141.0,126.0,BOS,90,1,2022,2022-06-16,True,2

In [43]:
df["won"].value_counts()

False    8886
True     8886
Name: won, dtype: int64

In [44]:
df["target"].value_counts()

1    8872
0    8870
2      30
Name: target, dtype: int64